frontend/.gradle/config.properties
frontend/.gradle/file-system.probe
frontend/.gradle/workspace-id.txt
frontend/.gradle/8.8/gc.properties
frontend/.gradle/8.8/checksums/checksums.lock
frontend/.gradle/8.8/checksums/md5-checksums.bin
frontend/.gradle/8.8/checksums/sha1-checksums.bin
frontend/.gradle/8.8/dependencies-accessors/gc.properties
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/metadata.bin
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxConstraintlayoutLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxDatastoreCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxDatastoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxFoundationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxMaterial3IconsLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxMaterial3LibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxRoomLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsKotlinPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$PlayLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxConstraintlayoutLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxDatastoreCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxDatastoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxFoundationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxMaterial3IconsLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxMaterial3LibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxRoomLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsKotlinPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PlayLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/sources/org/gradle/accessors/dm/LibrariesForLibs.java
frontend/.gradle/8.8/dependencies-accessors/8c14193b247e20223bb78c59f15431b7acb0acd6/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/metadata.bin
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxConstraintlayoutLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxDatastoreCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxDatastoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxFoundationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxMaterial3IconsLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxMaterial3LibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxRoomLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsKotlinPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$PlayLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxConstraintlayoutLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxDatastoreCoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxDatastoreLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxFoundationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxMaterial3IconsLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxMaterial3LibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationRuntimeLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxRoomLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsKotlinPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsPluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PlayLibraryAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/sources/org/gradle/accessors/dm/LibrariesForLibs.java
frontend/.gradle/8.8/dependencies-accessors/c016443e883986e870c8622c76663c4e028a11d1/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
frontend/.gradle/8.8/executionHistory/executionHistory.bin
frontend/.gradle/8.8/executionHistory/executionHistory.lock
frontend/.gradle/8.8/fileChanges/last-build.bin
frontend/.gradle/8.8/fileHashes/fileHashes.bin
frontend/.gradle/8.8/fileHashes/fileHashes.lock
frontend/.gradle/8.8/fileHashes/resourceHashesCache.bin
frontend/.gradle/checksums/checksums.lock
frontend/.gradle/configuration-cache/gc.properties
frontend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
frontend/.gradle/buildOutputCleanup/cache.properties
frontend/.gradle/buildOutputCleanup/outputFiles.bin
frontend/.gradle/vcs-1/gc.properties
frontend/.gradle/workspace-id.txt.lock
.idea
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode
.vscode/settings.json
